html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: #eef0f4;
  user-select: none;
}

input {
  color: #432000;
  background-color: #dce1eb;
  margin: 10px 0;
}

button {
  color: #fdfdfd;
  background-color: #478ce0;
}

input,
button,
li,
ul {
  border: 0;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

img {
  width: 200px;
  margin: 0 auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #fffdf8;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
}

button:hover,
ul li:hover {
  cursor: pointer;
  color: #fffdf8;
  background-color: #423838;
}

button:hover {
  background-color: #2c26d7;
}

  .container {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    max-width: 320px;
  }